*{
        margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
@keyframes test{
	0% {
    		transform: scale(0.1);
    		opacity: 0;
  	}
  50% {
    		transform: scale(1);
		    opacity: 1;
        color: black;
  }
  53% {
      color: midnightblue;
  }
  56% {
    color: navy;
  }
  59% {
		color: darkblue;
	}
  62% {
    color: mediumblue;
  }
  65% {
    color: blue;
  }
	68%{
		color: royalblue;
	}
  71%{
    color: dodgerblue;
  }
  75%{
    color: deepskyblue;
  }
  78%{
    color: dodgerblue;
  }
  81%{
    color: royalblue;
  }
  84%{
    color: blue;
  }
  87%{
    color: mediumblue;
  }
  90%{
    color: darkblue;
  }
  93%{
    color: navy;
  }
  96%{
    color: midnightblue;
  }
  100%{
    color: black;
  }
}

@font-face{
        src: url(CODE_Light.otf);
        font-family: codelight;
}
.hdr{
	animation-duration: 2s;
	animation-name: test;
	text-align: center;
  font-family: codelight, sans-serif;
  font-size: 120px;
	font-weight: 600;
	color: #17191A;
}
@font-face{
	src: url(TeXGyreAdventor/texgyreadventor-bold.otf);
	font-family: gyre;
}
.contactme{
	text-align: center;
	font-family: gyre, sans-serif;
	font-size: 20px;
	font-weight: 200;
	color: #17191A;
}
.navmessage{
	text-align: center;
	font-family: gyre, sans-serif;
	font-size: 20px;
	font-weight: 200;
	color: #17191A;
}
.nav{
	text-align: center;
	font-family: codelight, sans-serif;
	font-size: 60px;
	font-weight: 400;
	color: #17191A;
}
.profile{
	border-radius: 50%;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 25%;
}
.options{
	text-align: center;
}
