*{
        margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
@font-face{
        src: url(CODE_Light.otf);
        font-family: codelight;
}
.hdr{
	text-align: center;
        font-family: codelight, sans-serif;
        font-size: 120px;
	font-weight: 600;
	color: #17191A;
}
@font-face{
	src: url(TeXGyreAdventor/texgyreadventor-bold.otf);
	font-family: gyre;
}
.contactme{
	text-align: center;
	font-family: gyre, sans-serif;
	font-size: 20px;
	font-weight: 200;
	color: #17191A;
}
.
